<%= form_with(url: "/flights", method: "get", local: true) do %>
  <% @airport_options = Airport.all.map { |airport| [airport.code, airport.id] } %>
  <% @year_options = Flight.all.map { |flight| flight.scheduled_on.year }.uniq %>
  <% @month_options = Flight.all.map { |flight| flight.scheduled_on.month }.uniq %>
  <% @day_options = Flight.all.map { |flight| flight.scheduled_on.day }.uniq %>

  
<div class="row">

<div class="col-sm-2">
      <div class="form-select form-select-lg mb-3 ">
        <%= select_tag(:from_airport_id, options_for_select(@airport_options, selected: params[:from_airport_id]), { prompt: 'From?', class: "btn btn-outline-primary" }) %>
  </div>
</div>

<div class="col-sm-2">
      <div class="form-select form-select-lg mb-3 ">
        <%= select_tag(:to_airport_id, options_for_select(@airport_options, selected: params[:to_airport_id]), { prompt: 'To?', class: "btn btn-outline-primary" }) %>
  </div>
</div>

<div class="col-sm-2">
      <div class="form-select form-select-lg mb-3 ">
        <%= select_tag(:pax, options_for_select(1..4, selected: params[:pax]), { prompt: 'Passengers', class: "btn btn-outline-primary" }) %>
  </div>
</div>

<div class="col-sm-2">
        <div class="form-select form-select-lg mb-3">
          <%= select_tag(:day, options_for_select(@day_options, selected: params[:day]), class: "btn btn-outline-primary") %>
    </div>
</div>

<div class="col-sm-2">
        <div class="form-select form-select-lg mb-3">
          <%= select_tag(:month, options_for_select(@month_options, selected: params[:month]), class: "btn btn-outline-primary") %>
    </div>
</div>

<div class="col-sm-2">
        <div class="form-select form-select-lg mb-3">
          <%= select_tag(:year, options_for_select(@year_options, selected: params[:year]), class: "btn btn-outline-primary") %>
        </div>
</div>

</div class="col-sm-2">
      <%= submit_tag("Show flights", class: "btn btn-outline-primary") %>
    </div>
  </div>

<% end %>