<%= form_with model: @booking, local: true do |f| %>
  <% i = 1 %>
  <%= f.fields_for :passengers do |passengers_data| %>
    <div>
      <div>
        <label class="h2">
          <%= "Passenger #{i}" %><br/>
        </label>
      </div>
      <div>
        <div>
          <p>
            <%= passengers_data.text_field :name, placeholder: "Passenger's name", required: true, class: "input" %>
          </p>
        </div>
        <div >
          <p>
            <%= passengers_data.email_field :email, placeholder: "name@example.com", required: true, class: "input" %>
          </p>
        </div>
      </div>
    </div>
    <% i += 1%>
  <% end %>
  
  <%= f.hidden_field :flight_id, value: params[:flight] %>

  <div>
    <div >
      <%= f.submit 'Purchase Ticket', class: "btn btn-outline-primary" %>
    </div>
  </div>
<% end %>